.banner-1{
    background: #444;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    transition: .4s;
    &:hover{
        background: #888;
    }
    p{
        margin: auto;
        display: block;
        width: 90%;
        font-size: 20px;
        color: #fff;
        
        a{
            
            margin-left: 20px;
            font-size: 30px;
            //box-sizing: border-box;            
            color: #fff;
            height: 5px;
            text-decoration: none;
            border-bottom: 1px solid white;
            transition: .4s;
            &:hover{
                font-size: 35px;
            }
        }
    }
    
}