@import 'mixin';

iframe{
    margin: 50px auto;
}

.contactos{
    width: 100%;
    height: 600px;
    background: red;
    display: grid;
    justify-items: center;
    align-items: center;
    .contenido-contactos{
        background: skyblue;
        width: 90%;
        height: 90%;
        
        display: grid;
        grid-template-rows: 130px 1fr;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .titulos{
            grid-column: span 2;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                font-size: 40px;
                text-transform: uppercase;
            }
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                text-align: center;
                margin: 5px;
            }
        }

        .formulario{
            background: blue;
            color: #999;
            width: 100%;
            height: 90%;
            

            .caja-1{
                width: 250px;
                height: 40px;
                margin: 10px;
                padding: 10px;
                font-size: 14px;
            }
            .caja-2{
                width: 525px;
                height: 100px;
                margin: 10px;
                padding: 10px;
                font-size: 14px;
            }
            .contratar-a{
                @include gus-boton-form;
            }
        }
    }

    
}

