.testimonios {
    padding: 50px;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 10px 20px;
    //border: 5px solid white;
    background-color: lightblue;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;

    [class^="slider-"]{
        img {
            height: 150px;
            width: 150px;
            margin: auto;
            border-radius: 50%;
        }
    }

}