.tabla_precios {
    height: 650px;
    width: 100%;
    //background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;


    .cont-tabla_precios {
        height: 80%;
        //overflow: hidden;
        width: 80%;
        display: grid;
        //grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 130px 1frpx;
        align-items: center;
        //background: blue;

        h1 {

            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
        }

        .promociones {
            //background: red;
            display: grid;
            grid-template-columns: repeat(4, 25%);

            [class^="tabla-"] {
                //width: 25%;
                text-align: center;
                //background: blueviolet;
                margin-top: 25px;

                .caja_precio {
                    border: 1px solid #5c6552;
                    background: #30353c;
                    color: #fff;

                    &:hover{
                        border: 5px solid #85c34a;
                    }

                    .icono_precio {
                        color: #85c34a;
                        padding-top: 20px;
                        font-size: 3em;
                        padding-bottom: 10px;
                    }

                    .precio {
                        color: #85c34a;
                        font-size: 50px;
                        font-weight: bold;

                        .dolar {
                            font-size: 20px;
                            vertical-align: super;
                        }

                        .mes {
                            font-size: 10px;
                            color: #999;
                            vertical-align: text-bottom;
                        }
                    }

                    .lista_precios {
                        list-style: none;
                        padding: 20px 0;
                        color: #81867D;
                        padding-bottom: 50px;
                    }

                    .boton-contratar {
                        margin-bottom: 25px;

                        .contratar-a {
                            background: #85c34a;
                            text-decoration: none;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 10px 70px;
                            letter-spacing: 1px;
                            width: 90%;

                            &:hover {
                                background: #81867D;
                            }
                        }
                    }
                }
            }

            .tabla-2 {
                //width: 25%;
                text-align: center;
                background: blueviolet;
                margin-top: 10px;

                .destacado {
                    background: #fff;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

                    h4 {
                        color: #30353c;
                        font-size: 30px;
                    }

                    .icono_precio {
                        font-size: 4em;
                    }

                    .boton-contratar {
                        .contratar-a {
                            background: #30353c;
                        }

                    }

                    .fa-star{
                        color: #303030;
                    }
                }
            }
        }
    }
}